.details {
  display: flex;
  padding: 0 8%;

  &__left {
    width: 300px;

    &-poster {
      width: 300px;
    }
  }

  &__right {
    width: 70%;
    padding: 2%;
    position: relative;
    &-title{
      font-size: 30px;
      margin-bottom: 2%;
    }
    &-subtitle{
      font-size: 25px;
      margin-bottom: 5%;
    }
    &-overview{
      font-size: 18px;
    }
    &-popularity{
      position: absolute;
      bottom: 2%;
      right: 0;
    }
  }
}